/* ReSharper disable CssNotResolved */

.button {
    border: 1px;
    border-color: #f777;
    padding: 1em 0.5em;
    background-color: #2888;
    margin: 0.2em;
    transition-duration: 500ms
}

.button:hover {
    border: 3px;
    background-color: #a888;
}

.button:active {
    border: 2px;
    background-color: #a2f2;
    transition-duration: 200ms
}

.textline {
    border: 1px;
    border-color: #f000;
    padding: 1em 0.5em;
    background-color: #efff;
    margin: 0.2em;
    transition-duration: 500ms
}

.textline:hover {
    border: 2px;
    background-color: #a888;
}

.textline:active {
    border: 2px;
    background-color: #f888;
    transition-duration: 200ms
}

.scrollbar {
    bar-border: 1px;
    bar-padding: 1em 0.5em;
    bar-color: #a888;
    transition-duration: 200ms
}

.scrollbar:bar-hover {
    bar-color: #f666;
}

.scrollbar:bar-active{
    bar-border: 3px;
    bar-color: #f444;
}

.grid {
    margin: 0.2em;
}

.radio {
    padding: 0.5em 0.25em;
    background-color: #a2f2;
    hole-border-size: 1.5px;
    hole-border-color: #f888;
    transition-duration: 500ms;
}

.radio:hover {
    hole-border-size: 2px;
    background-color: #a2ff;
    hole-border-color: #f444;
}

.radio:active {
    hole-border-color: #f444;
    transition-duration: 200ms
}


.titlebutton {
    shape-color: #f444;
    padding: 1em 0.5em;
    background-color: #0000;
    margin: 0.2em;
    transition-duration: 500ms
}

.titlebutton:hover {
    background-color: #f666;
}

.titlebutton:active {
    background-color: #f888;
    transition-duration: 200ms
}


.listview {
    background-color: #eee;
    border: 1px;
    border-color: #ff77;
}

.listview:hover {
}

.listview:active {
}