.button {
    border: 1px;
    padding: 1em 0.5em;
    background-color: #2888;
    margin: 0.2em;
    transition-duration: 500ms
}

.button:hover {
    border: 2px;
    background-color: #a888;
}

.button:active {
    border: 2px;
    background-color: #a2f2;
    transition-duration: 200ms
}