<?xml version="1.0" encoding="utf-8"?>
<Project DefaultTargets="Build" ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<!--修改完 .props.user 之后必须重新加载解决方案，某些项目才会生效-->
	<PropertyGroup>
		<OutDir>$(SolutionDir)$(Configuration)_$(Platform)_$(PlatformToolset)(user)\</OutDir>
	</PropertyGroup>
</Project>